}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body {
  opacity: 0;
  animation: fadeIn 1.2s forwards;
  animation-delay: 0.2s;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4A71A9;
  min-height: 100vh;
  margin: 0;
}
.header{
  text-align: center;
  margin-bottom: 50px;
    text-shadow:  
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.header h2{
  font-weight: 400;
}
